<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Life points:</strong>
  <%= @player.life_points %>
</p>

<p>
  <strong>Attack points:</strong>
  <%= @player.attack_points %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
